body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-image-container {
    background-image: url("{{ url_for('static', filename='register/images/background.jpg') }}");;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation-container {
    background: rgba(255, 255, 255, 0.9);  
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.confirmation-details {
    color: #444;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
}

.back-home-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.back-home-button:hover {
    background-color: #5a6268;
}



