:root {
  --headings-h1-font-family: "Lora", Helvetica;
  --headings-h1-font-weight: 600;
  --headings-h1-font-size: 40px;
  --headings-h1-letter-spacing: 0px;
  --headings-h1-line-height: 125%;
  --headings-h1-font-style: normal;
  --headings-h2-font-family: "Lora", Helvetica;
  --headings-h2-font-weight: 600;
  --headings-h2-font-size: 32px;
  --headings-h2-letter-spacing: -1.28px;
  --headings-h2-line-height: 125%;
  --headings-h2-font-style: normal;
  --headings-h3-font-family: "Lora", Helvetica;
  --headings-h3-font-weight: 600;
  --headings-h3-font-size: 24px;
  --headings-h3-letter-spacing: 0px;
  --headings-h3-line-height: 125%;
  --headings-h3-font-style: normal;
  --headings-h4-font-family: "Lora", Helvetica;
  --headings-h4-font-weight: 600;
  --headings-h4-font-size: 18px;
  --headings-h4-letter-spacing: 0px;
  --headings-h4-line-height: 125%;
  --headings-h4-font-style: normal;
  --headings-h5-font-family: "Lora", Helvetica;
  --headings-h5-font-weight: 600;
  --headings-h5-font-size: 14px;
  --headings-h5-letter-spacing: 0px;
  --headings-h5-line-height: 125%;
  --headings-h5-font-style: normal;
  --body-16px-regular-font-family: "Inter", Helvetica;
  --body-16px-regular-font-weight: 400;
  --body-16px-regular-font-size: 16px;
  --body-16px-regular-letter-spacing: 0px;
  --body-16px-regular-line-height: 150%;
  --body-16px-regular-font-style: normal;
  --body-16px-bold-font-family: "Inter", Helvetica;
  --body-16px-bold-font-weight: 500;
  --body-16px-bold-font-size: 16px;
  --body-16px-bold-letter-spacing: 0px;
  --body-16px-bold-line-height: 150%;
  --body-16px-bold-font-style: normal;
  --body-14px-regular-font-family: "Inter", Helvetica;
  --body-14px-regular-font-weight: 400;
  --body-14px-regular-font-size: 14px;
  --body-14px-regular-letter-spacing: 0px;
  --body-14px-regular-line-height: 150%;
  --body-14px-regular-font-style: normal;
  --body-14px-bold-font-family: "Inter", Helvetica;
  --body-14px-bold-font-weight: 500;
  --body-14px-bold-font-size: 14px;
  --body-14px-bold-letter-spacing: 0px;
  --body-14px-bold-line-height: 150%;
  --body-14px-bold-font-style: normal;
  --body-12px-bold-font-family: "Inter", Helvetica;
  --body-12px-bold-font-weight: 500;
  --body-12px-bold-font-size: 12px;
  --body-12px-bold-letter-spacing: 0px;
  --body-12px-bold-line-height: 150%;
  --body-12px-bold-font-style: normal;
  --body-12px-regular-font-family: "Inter", Helvetica;
  --body-12px-regular-font-weight: 400;
  --body-12px-regular-font-size: 12px;
  --body-12px-regular-letter-spacing: 0px;
  --body-12px-regular-line-height: 150%;
  --body-12px-regular-font-style: normal;
  --labels-16px-regular-font-family: "Inter", Helvetica;
  --labels-16px-regular-font-weight: 400;
  --labels-16px-regular-font-size: 16px;
  --labels-16px-regular-letter-spacing: -0.48px;
  --labels-16px-regular-line-height: 124.00000095367432%;
  --labels-16px-regular-font-style: normal;
  --labels-16px-bold-font-family: "Inter", Helvetica;
  --labels-16px-bold-font-weight: 600;
  --labels-16px-bold-font-size: 16px;
  --labels-16px-bold-letter-spacing: 0px;
  --labels-16px-bold-line-height: 124.00000095367432%;
  --labels-16px-bold-font-style: normal;
  --labels-14px-regular-font-family: "Inter", Helvetica;
  --labels-14px-regular-font-weight: 400;
  --labels-14px-regular-font-size: 14px;
  --labels-14px-regular-letter-spacing: 0px;
  --labels-14px-regular-line-height: 124.00000095367432%;
  --labels-14px-regular-font-style: normal;
  --labels-14px-bold-font-family: "Inter", Helvetica;
  --labels-14px-bold-font-weight: 600;
  --labels-14px-bold-font-size: 14px;
  --labels-14px-bold-letter-spacing: 0px;
  --labels-14px-bold-line-height: 124.00000095367432%;
  --labels-14px-bold-font-style: normal;
  --labels-12px-bold-font-family: "Inter", Helvetica;
  --labels-12px-bold-font-weight: 600;
  --labels-12px-bold-font-size: 12px;
  --labels-12px-bold-letter-spacing: 0px;
  --labels-12px-bold-line-height: 124.00000095367432%;
  --labels-12px-bold-font-style: normal;
  --labels-12px-regular-font-family: "Inter", Helvetica;
  --labels-12px-regular-font-weight: 400;
  --labels-12px-regular-font-size: 12px;
  --labels-12px-regular-letter-spacing: 0px;
  --labels-12px-regular-line-height: 124.00000095367432%;
  --labels-12px-regular-font-style: normal;
  --variable-collection-color: rgba(244, 247, 191, 1);
}
