<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='login/globals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login/styleguide.css') }}">
    
  </head>
  <body>
    <div class="login-page">
        <div class="div">
          <div class="text-wrapper">Login Your Account</div>
      
          <form method="POST" action="/login">
            <label for="username">User name</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required />
      
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required />
      
            <button class="search-button" type="submit">Login</button>
          </form>
      
          <p class="p">Don’t have an account? <a href="/register">Register here!</a></p>


        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        </div>
      </div>
  </body>
</html>
